project:
  type: book
  output-dir: docs

metadata:
  title: "파이썬 다루기"
  google-site-verification: "8xHzi-r2KaeozfPyDbwq2rtYE8sEI8Xu6irhM0ccwBU"
  keywords: ["python", "numpy", "pandas", "기초", "문법"]

book:
  title: "파이썬 다루기"
  author: "YK"
  date: last-modified
  repo-url: https://github.com/yeonkyupark/python_beginner 
  repo-branch: main
  repo-actions: [edit]
  favicon: logo.png
  page-footer: 
    left: "Copyright(c) 2025 YK" 
    right: "Python Handling"
  sidebar: 
    tools:
      - icon: instagram
        href: https://www.instagram.com/yeonkyu.park/
      - icon: globe
        href: https://yeonkyupark.github.io/
    collapse-level: 2
  chapters:
    - index.qmd
    - part: "파이썬 기초"
      chapters:
        - 10python.qmd
        - 20syntax.qmd
        - 30datatype.qmd
        - 40controlflow.qmd
        - 50function.qmd
        - 60file.qmd
        - 70exception.qmd
        - 80class.qmd
        - 90package.qmd
    - part: "파이썬 패키지"
      chapters:
        - pkg_numpy.qmd
        - pkg_pandas.qmd
  appendices: 
    - app_markdown.qmd
    - app_csv_json.qmd
    - app_chatgpt.qmd
  site-url: "https://github.com/yeonkyupark/python_beginner"

language:
  crossref-apx-prefix: 참고자료
  section-title-appendices: 참고자료

bibliography: references.bib

number-sections: false

format:
  html:
    theme: cosmo
    css: style.css
    mermaid:
      theme: neutral
    sitemap: true
    include-in-header:
      text: |
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8759553852956796" crossorigin="anonymous"></script>
    # include-in-header: adsense.html
    # include-after-body: adsense-body.html

  # pdf:
  #   documentclass: scrreprt

toc: true
toc-depth: 4
toc-title: 목차

crossref:
  appendix-title: "참고자료"
  appendix-delim: ":"
  
execute:
  freeze: auto
  
# jupyter: python3

# editor: visual

