h2.anchored{
    padding-top: 12px;
    padding-left: 12px;
    border-top-left-radius: 12px;
    background-color: rgba(31, 125, 230, .2);
}

h3.anchored {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-top-left-radius: 12px;
    background-color: rgba(31, 125, 230, .2);
}

h4.anchored {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    border-top-left-radius: 12px;
    background-color: rgba(31, 125, 230, .2);
}

div.cell-output.cell-output-stdout {
  margin-left: 0.8em;
  margin-top: 0;
  background: none;
  border-left: 3px solid rgba(233,236,239,.65);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-size: 1em;
  padding-left: 1em;
  padding-top: 0.2em;
}

div.cell-output.cell-output-error {
  margin-left: 0.8em;
  margin-top: 0;
  background: none;
  border-left: 3px solid rgba(255,128,128,.65);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-size: 1em;
  padding-left: 1em;
  padding-top: 0.2em;
}

.cell-out .sourceCode {
  background: none;
  margin-top; 0;
}

.cell > .sourceCode {
  margin-bottom: 0;
  font-size: 0.9em;
}
